.aside {
  background-color: var(--purple-100);
  background-image: url('./bg.svg');
  background-position: center;
  background-size: cover;
  display: none;
  padding: 16px;
  position: relative;
}

@media (min-width: 768px) {
  .aside {
    display: block;
    overflow-y: auto;
    padding: 32px;
  }
}
