.dialog {
  background-color: var(--base-0);
  border-radius: 20px;
  display: grid;
  height: 100%;
  max-height: 720px;
  max-width: 992px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .dialog {
    grid-template-columns: 1fr 1fr;
  }
}
