.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  inset: 0;
  justify-content: center;
  padding: 16px;
  position: fixed;
  z-index: var(--z-index-modal);
}
