.blockquote {
  color: var(--charcoal-300);
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 14px;
  position: relative;
}

.blockquote::before {
  background-color: var(--gray-500);
  border-radius: 2px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
